.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky { border-bottom: .1rem solid rgba(0, 0, 0, .2); }
/* .header.sticky { 
    border-bottom: .1rem solid var(--main-color); 
    box-shadow: 0px 0px 1rem var(--main-color);
} */
/* .header.sticky { 
    border-bottom: .1rem solid var(--text-color); 
    box-shadow: 0px 0px .7rem var(--text-color);
} */

.navbar {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.logo {
    font-size: 2.8rem;/* 2.5rem */
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}


.navbar a {
    font-size: 2rem !important;
    color: var(--text-color);
    /* margin-left: 4rem; */
    transition: .3s;
}
.navbar a:hover,
.navbar a.active { color: var(--main-color); }

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* Switch language  */
.navbar .langs {
    position: relative;
    display: flex;
    transition: .3s;
    /* border: 1px solid var(--second-bg-color); */
}

.navbar .langs p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    cursor: pointer;
    background-color:var(--second-bg-color);
    padding: 1px 8px;   

}

.navbar .langs p:hover { scale: 106%; }
.navbar .langs p.active { 
    background-color: var(--text-color);
    color: var(--second-bg-color);
}


