 /* .portfolio { background: var(--second-bg-color); } */

 /* .portfolio { background: var(--second-bg-color); }  */
 .portfolio { background: var(--bg-color); } 

 .portfolio h2 { margin-bottom: 4rem; } 

/* .portfolio { background: var(--text-color); }

.portfolio h2 { margin-bottom: 4rem; color: var(--bg-color); } */

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    /* align-items: stretch; */
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color); 
    overflow: hidden;
    display: flex;
}

/* Codigo antigo */
/* .portfolio-box img { 
    width: 100%;
    transition: .5s ease;
}  */

.portfolio-box {
    aspect-ratio: 16/10;  
    /* aspect-ratio: 16/9;   */
}

.portfolio-box img { 
    height: 100%;
    width: 100%;
    transition: .5s ease;
    object-fit: cover;
} 


.portfolio-box:hover img { transform: scale(1.1); }

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
    /* padding: 0 4rem; */
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 { 
    font-size: 2.5rem; 
    /* font-size: 3rem;  */
    /* font-size: clamp(1.8rem, 5vw, 2.5rem);  */
}

.portfolio-layer p {
    /* font-size: clamp(1.2rem, 3vw, 1.6rem);   */
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    /* max-height: 10rem;  */
    /* overflow-y: auto;   */
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* width: clamp(3.5rem, 8vw, 5rem);   */
    /* height: clamp(3.5rem, 8vw, 5rem); */
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    flex-shrink: 0; 
}

.portfolio-layer a:hover {
    transform: scale(1.1);        
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}
